{% extends "base.html" %}

{% block content %}
    <h1>BlogPost Page!</h1>
    {% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle" src="{{ url_for('static',filename='profile_imgs/'+post.author.image_file) }}" alt="">
        <div class="container">
            <h3><a href="{{ url_for('post',post_id=post.id) }}">{{post.title}}</a></h3>
            <p>{{post.content}}</p>
        <small class="text-muted">{{post.title}} by {{ post.author.username }} publish on {{post.date_posted.strftime('%Y-%m-%d')}}</small>

        </div>
    </article>
    {% endfor %}


{% endblock content %}